C:/Users/jaketruscott/Github/CSS_POLS_UF/docs/assets/replication_materials/.Rproj.user/shared/notebooks/A656D3E6-class_3_problem_set/1/s/c6y5a4r8gpzay_t